<nav>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/servicios">Servicios</a></li>
        <li><a href="/mantenimiento">Mantenimiento</a></li>
        <li><a href="/contacto">Contacto</a></li>
    </ul>
</nav>